.mt-4{
    margin-top: 32px !important;
}

.mt-3{
    margin-top: 16px !important;
}

.mb-3{
    margin-bottom: 16px !important;
}

.mr-4{
    margin-right: 32px !important;
}

.box-container {
    background-color: #deebea;
    color: #39807d;
    padding: 8px;
    border-radius: 8px;
    border: 1px solid;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.box-1 {
    width: 23%;
    height: 150px;
}

.box-2 {
    width: 60%;
}

.box-3 {
    width: 40%;
}

.box-4 {
    width: 50%;
}

.text-heading {
    text-align: start;
    font-weight: 600;
    font-size: 24px
}