.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.btn-reservation-deposit {
  background-color: #22543D;
  color: white; 
  border-radius: 4px;
  border: solid 1px;
  min-width: 26px; 
  text-align: center
}

.btn-reservation-deposit:hover {
  border-color: white;
  background-color: #38A169; 
  cursor: pointer
}

.btn-cancel-deposit {
  background-color: #E53E3E;
  color: white; 
  border-radius: 4px;
  border: solid 1px;
  min-width: 26px; 
  text-align: center
}

.btn-cancel-deposit:hover {
  border-color: white;
  background-color: red; 
  cursor: pointer
}

.btn-add {
  background-color: #086F83;
  color: white; 
  border-radius: 4px;
  border: solid 1px;
  max-width: 30px; 
  min-height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-add:hover {
  border-color: white;
  background-color: #00B5D8; 
  cursor: pointer
}

.btn-delete-list {
  background-color: #E53E3E;
  color: white;
  padding: 2px;
  border-radius: 4px;
  min-width: 30px; 
  min-height: 32px;
  cursor: pointer;
  display:flex;
  justify-content: center;
  align-items: center;
}

.btn-delete-list:hover {
  background-color: red;
}

.btn-detail-list {
  background-color: #38A169;
  color: white;
  padding: 2px;
  border-radius: 4px;
  min-width: 30px; 
  min-height: 32px;
  cursor: pointer;
  display:flex;
  justify-content: center;
  align-items: center;
}

.btn-detail-list:hover {
  background-color: green;
}

.image-roomtypephoto-list {
  border-radius: 4px;
  cursor: pointer;
  opacity: .5;
}

.image-roomtypephoto-list:hover {
  border-radius: 4px;
  cursor: pointer;
  opacity: 1;
  border: 1px solid red !important;
}

.image-roomtypephoto-list.active {
  border-radius: 4px;
  cursor: pointer;
  opacity: 1;
  border: 1px solid red !important;
}

.image-roomtypephoto-list.click {
  border-radius: 4px;
  cursor: pointer;
  opacity: 1;
  border: 1px solid green !important;
}

.btn-admmin-sidebar-link {
  width: 100%;
  padding: 16px;
  color: white;
  transition: all 0.2s ease;
  cursor: pointer;
}

.btn-admmin-sidebar-link:hover {
  background-color: #EDF2F7;
  color: #3e3e3e;
}

.btn-admmin-sidebar-link:active {
  background-color: #3e3e3e;
  color: #EDF2F7;
}

.btn-detail-checkout {
  background-color: red;
  color: white;
  padding: 4px;
  border-radius: 4px;
  cursor: pointer;
  display:flex;
  justify-content: center;
  align-items: center;
}

.btn-detail-checkout:hover {
  background-color: #E53E3E;
}